.c-rating{
    display: flex;
    align-items: center;
    min-width: 208px;
    max-height: 28px;
}
.rating__border{
    padding: 5px 12px; 
    display: flex;
    justify-content: center;
}
.rating__border--left{
    border-radius: 6px 0px 0px 6px;
}
.rating__border--gray{
    display: flex;
    justify-content: center;
    background: var(--gray-gray-0, #FAFBFC);
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04), 0px 2px 0px 0px rgba(255, 255, 255, 0.02) inset;
    border: 1px solid var(--border-btn-15-black, rgba(27, 31, 35, 0.15));
}
.rating__border--white{
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04);
    border: 1px solid var(--border-btn-15-black, rgba(27, 31, 35, 0.15));
}
.rating__border--right{
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04);
    border-radius: 0px 6px 6px 0px;
    border: 1px solid var(--border-btn-15-black, rgba(27, 31, 35, 0.15));
    background: var(--black-amp-white-white, #FFF);
}
.rating__icon{
    width: 16px;
    height: 18px;
    margin-right: 4px;
    color: #586069;
}
.rating__title{
    color: #24292E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
}
.rating__value{
    color: #24292E;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
}
