.c-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post__user{
    margin-bottom: 16px;
}
.post__card{
    margin-bottom: 18px;
}
.date{
    color: rgba(0, 0, 0, 0.40);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 10px;
}